/* alpha channel sets opacity for a color range 0-1 */
div{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0 ,0.5);
}

/* opacity */
#div{
    background-color: rgba(255, 0, 0 ,0.5);
    opacity: 0.5;
}