section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* transform */
#div1{
    transform:rotate(180deg) ;
}
#div2{
    transform: scale(2,0.5);
    /* scaley(2) */
}
#div3{
    transform: translate(-100px,100px);
    /* translatey 100px */
}
#div4{
    transform: skew(45deg);
}
#div5{
    transform:rotate(30deg) translateX(150px) ;
}