/* *{
    font-family: Arial;
    background-color: blueviolet;
} */
 h1,h3{
    color: #f52936;
 }
#login{
    background-color: blueviolet;
}
#signup{
    background-color: #f52936;
    color: white;
}
.upvote{
    background-color: green;
}

/* descendant selector */
.post a{
    color: purple;
    background-color: yellow ;
    
}
nav ul li a{
color: rgb(253, 6, 179);
}